<!--<queue [user]="user"></queue>
<coin></coin>-->

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Amount</th>
      <th>
        <a (click)='getQueue()'>
          <i class="fas fa-sync-alt"></i>
        </a>
      </th>
    </tr>
  </thead>
  <tfoot>
    <ng-container *ngFor="let item of queueItems">
      <tr [class.is-selected]="item.userId === user?.id">
        <td>{{item.userName}}</td>
        <td>{{item.amount}}</td>
        <td *ngIf="item.userId !== user?.id">
          <button (click)="challenge(item.id)" class="button is-small" [disabled]="item.amount > user.balance">
            Challenge
          </button>
        </td>
        <td *ngIf="item.userId === user?.id">
          <button (click)="deleteQueueItem(item.id)" class="button is-small is-danger">
            <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>
    </ng-container>
  </tfoot>
</table>

<div>
  <input type="number" [(ngModel)]="newAmount">
  <div *ngIf="newAmount > user?.balance" class="has-text-danger">
    Insufficient Balance
  </div>

  <button (click)="addQueueItem()" [disabled]="newAmount > user?.balance" class="button is-link">
    <i class="fas fa-plus"></i>
  </button>
</div>

<div>
  Coin result: <span *ngIf="coinResult">{{coinResult}}</span>
</div>

<div class="footer">
  <button (click)="refreshChallenges()">refresh</button>

  <div *ngIf="incomingChallenge">
    you have a challenge!
    <button (click)="acceptChallenge()">Accept</button>
    <button (click)="rejectChallenge()">Reject</button>
  </div>

  <div *ngIf="outgoingChallenge">
    Your challenge:
    <span *ngIf="outgoingChallenge?.inProgress">
      waiting...
    </span>
    <span *ngIf="!outgoingChallenge?.inProgress">
      Accepted!
    </span>
  </div>
</div>
